APP_ENV=dev
APP_SECRET=change_me_32_char_random_string

DB_HOST=mysql-payment
DB_PORT=3306
DB_DATABASE=payment_db
DB_USERNAME=payment_user
DB_PASSWORD=secret

REDIS_HOST=redis
REDIS_PORT=6379
REDIS_PASSWORD=

RABBITMQ_URL=amqp://rabbit:rabbit@rabbitmq:5672

STRIPE_SECRET_KEY=sk_test_CHANGE_ME
STRIPE_WEBHOOK_SECRET=whsec_CHANGE_ME
STRIPE_PUBLISHABLE_KEY=pk_test_CHANGE_ME

AUTH_SERVICE_URL=http://auth-service:8000