APP_NAME=CatalogService
APP_ENV=local
APP_KEY=base64:CHANGE_ME
APP_DEBUG=true
APP_URL=http://localhost:8003

DB_CONNECTION=mysql
DB_HOST=mysql-catalog
DB_PORT=3306
DB_DATABASE=catalog_db
DB_USERNAME=catalog_user
DB_PASSWORD=secret

REDIS_HOST=redis
REDIS_PORT=6379
REDIS_PASSWORD=null
REDIS_CLIENT=phpredis

RABBITMQ_URL=amqp://rabbit:rabbit@rabbitmq:5672

ELASTICSEARCH_HOST=elasticsearch
ELASTICSEARCH_PORT=9200
ELASTICSEARCH_USER=elastic
ELASTICSEARCH_PASSWORD=changeme
ELASTICSEARCH_INDEX_PRODUCTS=products

CACHE_DRIVER=redis
QUEUE_CONNECTION=rabbitmq