APP_ENV=dev
APP_SECRET=change_me_32_char_random_string

DB_HOST=mysql-analytics
DB_PORT=3306
DB_DATABASE=analytics_db
DB_USERNAME=analytics_user
DB_PASSWORD=secret

REDIS_HOST=redis
REDIS_PORT=6379
REDIS_PASSWORD=

RABBITMQ_URL=amqp://rabbit:rabbit@rabbitmq:5672

ELASTICSEARCH_HOST=elasticsearch
ELASTICSEARCH_PORT=9200
ELASTICSEARCH_USER=elastic
ELASTICSEARCH_PASSWORD=changeme
ELASTICSEARCH_INDEX_EVENTS=analytics_events