APP_NAME=CartService
APP_ENV=local
APP_KEY=base64:CHANGE_ME
APP_DEBUG=true
APP_URL=http://localhost:8004

REDIS_HOST=redis
REDIS_PORT=6379
REDIS_PASSWORD=null
REDIS_CLIENT=phpredis
REDIS_CART_TTL=3600

RABBITMQ_URL=amqp://rabbit:rabbit@rabbitmq:5672

CACHE_DRIVER=redis
QUEUE_CONNECTION=rabbitmq
SESSION_DRIVER=redis