APP_ENV=dev
APP_SECRET=change_me_32_char_random_string

DB_HOST=mysql-order
DB_PORT=3306
DB_DATABASE=order_db
DB_USERNAME=order_user
DB_PASSWORD=secret

REDIS_HOST=redis
REDIS_PORT=6379
REDIS_PASSWORD=

RABBITMQ_URL=amqp://rabbit:rabbit@rabbitmq:5672

AUTH_SERVICE_URL=http://auth-service:8000